<nav class="navbar navbar-dark navbar-expand-lg sticky-top bg-dark shadow-sm">
    <div class="container">
        <h1 class="navbar-brand my-3">Angular Todo</h1>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-4">
                <li class="nav-item">
                    <a class="nav-link" routerLink="tasks" routerLinkActive="active-link">Tasks</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" routerLink="categories" routerLinkActive="active-link">Categories</a>
                </li>
            </ul>
        </div>
    </div>
</nav>