/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/scss/functions";
@import "../node_modules/bootstrap/scss/variables";
@import '../node_modules/bootstrap/scss/bootstrap.scss';

html,
body {
    height: 100%;
}

body {
    margin: 15;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.grey-section {
    background-color: #ededed;
}

.tasks-container {
    min-height: 400px;
}

.task-card-add {
    transition: 200ms;
    cursor: pointer;
    border: 2px dashed rgba(0, 0, 0, 0.176);
    color: grey;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;

    i {
        font-size: 28px;
    }

    p {
        margin-top: 20px;
        font-size: 18px;
    }

    &:hover {
        border: 2px dashed var(--bs-primary);
        color: var(--bs-primary);
    }
}

.task-card {
    min-height: 200px;
    height: 100%;
}

.card {
    border-width: 2px;
}

.nav-link{
    border-radius: 20px;
    padding: 10px 25px !important;
}

.active-link{
    background: var(--bs-primary);
}