<div class="container my-5">
    <div class="row row-cols-1 row-cols-sm-2 row-cols-md-4 g-3">
        <!-- TASKS -->
        <div *ngFor="let task of tasks; trackBy: trackTask" class="col">
            <app-task-card [task]="task"></app-task-card>
        </div>
        <!-- CREATE NEW -->
        <div class="col">
            <div class="card task-card task-card-add" (click)="openModal()">
                <i class="bi bi-plus-circle"></i>
                <p>Add a task</p>
            </div>
        </div>
    </div>
</div>