<div class="card category-card mb-2">
    <div class="card-body row">
        <div class="col">
            <h5 class="card-title mb-2">{{category?.name}}</h5>
            <span class="badge bg-primary">Tasks linked : {{category?.tasksCount}}</span>
            <p class="card-text mt-3">
                {{category?.description}}
            </p>
        </div>
        <div class="col d-flex justify-content-center align-items-center">
            <button (click)="editCategory()" class="btn btn-secondary my-2 me-2">Edit</button>
            <button (click)="deleteCategory()" class="btn btn-danger my-2">Delete</button>
        </div>
    </div>
</div>