<footer class="bg-dark py-5">
    <div class="container">
        <p class="mb-1 text-white">Front-end : Angular{{'@'}}17</p>
        <p class="mb-1 text-white">Back-end : Springboot{{'@'}}3</p>
        <p class="text-white">Nathanaël ANSTETT</p>
    </div>
</footer>