<form [formGroup]="categoryForm" (ngSubmit)="onSubmit()">

    <div class="modal-header">
        <h4 class="modal-title my-0" id="modal-basic-title">{{isNewCategory ? "Create" : "Edit"}} a category</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="dismiss(false)"></button>
    </div>
    <div class="modal-body">

        <div class="form-group mb-4">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-3">
                <div *ngIf="name?.errors?.['required']">Category name is required</div>
                <div *ngIf="name?.errors?.['minlength']">Category name should be at least 4 characters</div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!categoryForm.valid" class="btn btn-primary">{{isNewCategory ? "Create" :
            "Save"}}</button>
    </div>

</form>