<form [formGroup]="taskForm" (ngSubmit)="onSubmit()">

    <div class="modal-header">
        <h4 class="modal-title my-0" id="modal-basic-title">{{isNewTask ? "Create" : "Edit"}} a task</h4>
        <button type="button" class="btn-close" aria-label="Close" (click)="dismiss(false)"></button>
    </div>
    <div class="modal-body">

        <div class="form-group mb-4">
            <label for="name">Name:</label>
            <input type="text" class="form-control" id="name" name="name" formControlName="name" required>
            <div *ngIf="name?.invalid && (name?.dirty || name?.touched)" class="alert alert-danger mt-3">
                <div *ngIf="name?.errors?.['required']">Task name is required</div>
                <div *ngIf="name?.errors?.['minlength']">Task name should be at least 4 characters</div>
            </div>
        </div>
        <div class="form-group mb-4">
            <label for="description">Description:</label>
            <textarea class="form-control" id="description" name="description" formControlName="description"></textarea>
        </div>
        <div class="form-group mb-4">
            <label for="deadline">Deadline:</label>
            <input type="datetime-local" value="024-04-17 22:00:00" class="form-control" id="deadline" name="deadline" formControlName="deadline"
                required>
        </div>
        <div class="form-group mb-4">
            <label for="category">Category:</label>
            <select class="form-control" id="category" name="category" formControlName="categoryId" required>
                <option value="">Select a category</option>
                <option *ngFor="let category of taskCategories()" value="{{category.id}}">{{category.name}}</option>
            </select>
        </div>

    </div>
    <div class="modal-footer">
        <button type="submit" [disabled]="!taskForm.valid" class="btn btn-primary">{{isNewTask ? "Create" :
            "Save"}}</button>
    </div>

</form>