<div class="grey-section">
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Todo list project</h1>
                <p class="lead text-body-secondary">
                    Welcome. {{ getTasks().length == 0 ? "The todolist is currently empty. Wait no more and add an item
                    by clicking below !" : "Please find all your tasks below." }}
                </p>
                <p>
                    <button (click)="createTask()" class="btn btn-primary btn-lg my-2">Create {{ getTasks().length == 0 ? "my
                        first" : "a" }} task</button>
                </p>
            </div>
        </div>
    </section>
</div>

<div class="tasks-container">
    <app-tasks></app-tasks>
</div>