<div class="card task-card">
    <div class="card-body">
        <h5 class="card-title mb-2">{{task?.name}}</h5>
        <p>Due {{taskDeadlineRelative()}} <small>({{taskDeadlineDate()}})</small></p>
        <span class="badge bg-primary">{{task?.category?.name}}</span>
        <p class="card-text mt-3">
            {{task?.description}}
        </p>
        <button (click)="editTask()" class="btn btn-secondary my-2 me-2">Edit</button>
        <button (click)="deleteTask()" class="btn btn-danger my-2">Delete</button>
    </div>
</div>