<div class="grey-section">
    <section class="py-5 text-center container">
        <div class="row py-lg-3">
            <div class="col-lg-6 col-md-8 mx-auto">
                <h1 class="fw-light">Manage categories</h1>
                <p class="lead text-body-secondary">
                    In this section, you can manage your different task categories
                </p>
            </div>
        </div>
    </section>
</div>

<div class="tasks-container">
    <div class="container my-5">
        <div>
            <!-- CATEGORIES -->
            <div *ngFor="let category of categories">
                <app-category-card [category]="category"></app-category-card>
            </div>
            <!-- CREATE CATEGORY -->
            <div class="d-flex justify-content-center align-items-center mt-4">
                <button (click)="createCategory()" type="button" class="btn btn-primary btn-lg rounded-pill">Create a new category</button>
            </div>
        </div>
    </div>
</div>